a {
  color: hsl(44, 100%, 49%);
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #004445;
}
.active {
  color: #004445;
  cursor: default;
}
.active:hover {
  color: #004445;
  text-decoration: none;
}
.all-page {
  max-width: 500px;
  margin: 30px auto;
  font-size: 14px;
}
.city {
  font-weight: 700;
  font-size: 30px;
}
.description {
  font-size: 12px;
}
.temperature {
  font-size: 40px;
  font-weight: 700;
  color: #004445;
}
.units {
  position: relative;
  top: -15px;
}
.weather-app {
  padding: 20px;
  border: 1px solid #f8b400;
  border-radius: 10px;
}
.weather-forecast {
  margin-top: 15px;
  text-align: center;
  color: #004445;
}
.weather-forecast-day {
  font-size: 15px;
  opacity: 0.5;
  font-weight: 450;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
#button {
  background-color: #f8b400;
  border: 1px solid #f8b400;
}
#description {
  text-transform: capitalize;
}
